*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }
 header{
  background-color: #FFFFFF;
 }
 nav{
  width: 85%;
  max-width: 1360px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .menu{
 list-style: none;
 display: flex;
gap: 32px;
 }
 .menu a{
  font-size: 16px;
  font-weight: 400px;
  color: #000000;
  text-decoration: none;
 }
 nav ul{
  list-style: none;
  text-decoration: none;
 }
nav ul li .btn{
  font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
  background-color: #469165;
border: none;
  border-radius: 4px ;
  padding: 12px 16px;
  cursor: pointer;
  }
  .btn{
  
  }


