*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }
 header{
  background-color: #FFFFFF;
 }
 nav{
  width: 85%;
  max-width: 1360px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .menu{
 list-style: none;
 display: flex;
gap: 32px;
 }
 .menu a{
  font-size: 16px;
  font-weight: 400px;
  color: #000000;
  text-decoration: none;
 }
 nav ul{
  list-style: none;
  text-decoration: none;
 }
 .btn{
  font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
  background-color: #469165;
border: none;
  border-radius: 4px ;
  padding: 12px 16px;
  cursor: pointer;
  gap: 16px;
  }
  .color-white{
color: #FFFFFF;
  }
  #banner{
    width: 100%;
   height:674px ;
    /* border: 1px solid red; */
    background-image: url('../assets/hero-bg.png');
    margin-top: 16px;
     display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
    
  }
.banner-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 85%;
   max-width: 1360px; */

  
  }
  .banner-content h5{
   font-size: 16px;
   font-weight: 500px;
   color: #469165;
   background-color: #FFFFFF;
   gap: 6px;
   border-radius: 1000px;
   width: 229px;
   height: 36px;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  }
  .banner-content h1{
color: #30B868;
font-size: 72px;
font-weight: bold;
line-height: 84px;
margin-bottom: 16px;
}
.banner-content p{
  font-size: 18px;
 font-weight: 400px;
 line-height: 24px;
 color: #FFFFFF;
 margin-bottom: 32px;
}

