*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 }
 header{
  background-color: #FFFFFF;
 }
 nav{
  width: 85%;
  max-width: 1360px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .logo{
  margin-top: 8px;
 }
 
 .menu{
 list-style: none;
 display: flex;
gap: 32px;
 }
 .menu a{
  font-size: 16px;
  font-weight: 400px;
  color: #000000;
  text-decoration: none;
 }
 nav ul{
  list-style: none;
  text-decoration: none;
 }
 .btn{
  font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
  background-color: #469165;
border: none;
  border-radius: 4px ;
  padding: 12px 16px;
  cursor: pointer;
  
  }
  .color-white{
color: #FFFFFF;
  }
  #banner{
    width: 100%;
   height:674px ;
    /* border: 1px solid red; */
    background-image: url('../assets/hero-bg.png');
    margin-top: 16px;
     display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
    
  }
.banner-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 85%;
   max-width: 1360px; */

  
  }
  .banner-content h5{
   font-size: 16px;
   font-weight: 500px;
   color: #469165;
   background-color: #FFFFFF;
   gap: 6px;
   border-radius: 1000px;
   width: 229px;
   height: 36px;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  }
  .banner-content h1{
color: #30B868;
font-size: 72px;
font-weight: bold;
line-height: 84px;
margin-bottom: 16px;
}
.banner-content p{
  font-size: 18px;
 font-weight: 400px;
 line-height: 24px;
 color: #FFFFFF;
 margin-bottom: 32px;
}
#notes-section{
 width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0 ;
 
}
#notes-section img{
  height: auto;
  display: block;
}
#second-brain{
  width: 100%;
  margin: 120px auto;
  background-color: #FFFFFF;
}
#second-brain .brain-content{
  width: 85%;
  max-width: 1360px;
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 120px auto;
  gap: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.brain-text-content .solution{
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  color:#469165;
  margin-bottom: 16px;
}
.brain-content .image img{
max-width: 600px;
height: auto;
display: block;
}
.brain-text-content .per{
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 16px;
}
.brain-text-content h1{
font-size: 40px;
font-weight: bold;
color: #001931;
margin-bottom: 16px;
max-width: 500px;
}
.feature-checklist {
font-size: 16px;
font-weight: 500px;
line-height: 20px;
color: #001931;
list-style: none;
padding: 0;
margin-top: 40px;
}
.cheklist-item{
display: flex;
align-items: center;
gap: 8px;
margin-bottom: 16px;
}
.cheklist-item img{
  width: 16px;
  height: 16px;
}
#think-clear .think-clear-box{
  width: 85%;
  max-width: 1360px;
  height: 377px;
  background-color: #F7F6F2;
  margin: 120px auto;
}
.clear-box-content{
padding: 80px 120px;
}
.clear-box-content h1{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  text-align: center;
  margin-bottom: 16px;
}
.sub-text{
  
  font-size:16px ;
  font-weight:400px ;
  color: #627382;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.exceptional{
 font-size: 16px;
  font-weight: 600px;
  color: #FFFFFF;
  background-color: #469165;
border: none;
  border-radius: 4px ;
  padding: 12px 12px;
  cursor: pointer;
  align-items: center;
  margin:  0 331px;
  margin-bottom: 16px;
}
.footer-text{
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
  text-align: center;
}
.btn-2{
  background: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid white;
  border-radius: 4px ;
  padding: 12px 16px;
  cursor: pointer;
  
}
.btn-3{
background-color: white;
  color: #469165;
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid white;
  border-radius: 1000px;
  padding: 12px 16px;
  cursor: pointer;
  gap: 6px;
}
.btn:hover {
  background-color: #627382;
}
.btn-2:hover {
  background-color: #816161;
}
.btn-3:hover {
  background-color: #816161;
}

.exceptional:hover{
background-color: #627382;
}
.notes{
 text-align: center;
 margin: 30px;
}
.notes p{
  font-size: 16px;
color: #627382;
line-height: 20px;
margin-top: 20px;
}
.vector{
  /* border: 1px solid red; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
}
.vector .icon{
 
  width: 50px;
  height: 50px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
}
.icon img{
width: 60px;
height: 60px;
object-fit: contain;
}
#notes-section{
  gap: 10px;
  background-color: #FFFFFF;
   width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  }
.vector h1{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  margin-bottom: 16px;
  text-align: center;
}
.vector p{
  font-size: 16px;
  font-weight: 400px;
  color: #627382;
  line-height: 20px;
}
footer{
background-color:  #001931;
width: 100%;
height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   padding: 40px 80px;
}
footer p{
text-align: center;
font-size: 16px;
font-weight: 400px;
line-height: 24px;
color: #FAFAFA;
}
  .footer-container{
    background-color: #001931;
    /* width: 71%;
    max-width: 1360px; */
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
  }
  .social-writings h6{
   font-size: 20px;
   font-weight: 500px;
   line-height: 28px;
   color: #FFFFFF;
  }
  .ions img{
   margin-right: 16px;
   margin-top: 16px;
  }
